page-contact {
    .card-class{
    width: 100%;
    margin-left: 1px;
    background: #eaeaea;
    color: #727272;
}
    .card-header-class{
    color: #727272;
    font-size: 22px;
}
    .icon-color button ion-icon{
        color:#f60;
    }
}
